So I just saw this video: https://www.youtube.com/watch?v=iq0aCH3O664;
The guy claims to have created an algorithm that guesses a person's age by their age. His algorithm is does this with a pathetic 97% accuracy. I think I can do it better. Let's see...

Importing the modules

In [1]:
import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt

Creating train and test data

In [97]:
d = {'age': np.random.randint(50, size=1000)}
x_train = pd.DataFrame(data=d)
x_train['age'] = x_train['age'].apply(str)

In [116]:
d = {'age': np.random.randint(50, size=200)}
x_test = pd.DataFrame(data=d)
x_test['age'] = x_test['age'].apply(str)

In [117]:
x_train.describe()

         age
count   1000
unique    50
top       46
freq      31

In [118]:
y_train = x_train['age']
y_test = x_test['age']

Manipulating the data a little bit

In [119]:
#created dummy variables from categories (also can use OneHotEncoder)
x_train_dummies = pd.get_dummies(x_train[['age']])

In [120]:
x_train_dummies

,age_0,age_1,age_10,age_11,age_12,age_13,age_14,age_15,age_16,age_17,...,age_45,age_46,age_47,age_48,age_49,age_5,age_6,age_7,age_8,age_9
0,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
996,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
997,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
998,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
999,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [37]:
from sklearn.naive_bayes import GaussianNB

Trying out the model. Seems to be great. Perfect, actually

In [105]:
#I usually use Naive Bayes as a baseline for my classification tasks 
gnb = GaussianNB()
cv = cross_val_score(gnb,y_train_dummies,y_train,cv=10)
print(cv)
print(cv.mean())

[1. 1. 1. 1. 1. 1. 1. 1. 1. 1.]
1.0

/usr/local/lib/python3.7/dist-packages/sklearn/model_selection/_split.py:680: UserWarning: The least populated class in y has only 7 members, which is less than n_splits=10.
  UserWarning,

Finally training it FOR REAL

In [106]:
gnb.fit(y_train_dummies,y_train)

GaussianNB()

Preparing test data to be eaten by the model

In [121]:
x_test_dummies = pd.get_dummies(x_test[['age']])

It's ready. Here you can see what age was the a certain person:

In [137]:
x_test_dummies[x_test_dummies == 1].loc[69].dropna()

age_46    1.0
Name: 69, dtype: float64

And here's what machine thinks his age is:

In [139]:
gnb.predict([x_test_dummies.loc[69]])[0]

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but GaussianNB was fitted with feature names
  "X does not have valid feature names, but"

'46'